<div class="col-md-12">
  <h1>Moods</h1>

  <div id="timeline"></div>
</div>

<%= javascript_tag do %>
var data = [
<%== @moods.map {|m| "{score: #{m.score}, emotion: \"#{m.emotion}\", notes: \"#{m.notes}\", recorded_at: new Date(\"#{m.recorded_at.to_s}\") }"}.join(', ') %>
];
<% end %>

<div class="col-md-6">
  <%= form_tag moods_path, role: 'form' do |f| %>
    <div class="form-group">
      <label for="emotion">Emotion</label>
      <input type="text" name="emotion" id="emotion" class="form-control">
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea id="notes" name="notes" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  <% end %>
</div>

