<div class="col-md-12">
  <% Emotion.order('score DESC, word ASC').to_a.each_with_index do |emotion, i| %>
    <%= form_for emotion, role: 'form', class: 'form-horizontal' do |f| %>
      <div class="form-group">
        <%= f.label :score, emotion.word.humanize, class: 'col-sm-1', style: 'line-height:30px' %>
        <div class="col-sm-1">
        <%= f.text_field :score, class: 'form-control input-sm' %>
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn-sm btn btn-primary">Save</button>
        </div>
      </div>
    <% end %>
    <% if (i+1) % 4 == 0 %>
    <div style="clear:both;">&nbsp;</div>
    <% end %>
  <% end %>
</div>
